@use './scroller';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #29323c;
    display: grid;
    place-items: center;
    place-content: center;
    gap: 1rem;
    color: #f4f4f4;
    font-family: sans-serif;
    height: 100vh;
    padding: 5vh 5vw;
    border: 3px solid #485563;
    overflow: hidden;
    h1 {
        text-align: center;
        text-transform: capitalize;
        font-size: 1rem;
        font-size: clamp(1rem, 4vw, 2rem);
    }
}

.tag-list {
    list-style: none;

    li {
        padding: 1rem;
        background: #485563;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem -0.25rem #0005;
        font-size: .95rem;
        font-size: clamp(.95rem, 2vw, 1rem);
    }
}

